<!DOCTYPE html>
<html>
<head>
  <title>Chitter</title>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='/stylesheets/09_Frontman.css' rel='stylesheet' type='text/css'>
  <link href='/stylesheets/jquery-ui.css' rel='stylesheet' type='text/css'>

  <script src="/js/jquery-2.1.1.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/handlebars-v2.0.0.js"></script> 
</head>

<body>



  <header>
    <nav>
      <ul>
        <li><i class="fa fa-sign-out fa-3x"></i></li>
        <li><img src="/images/DINO.svg"></li>
        <li><a href="#" class="peep-button">Peep</a></li>
      </ul>
    </nav>
  </header>

  <section class="preauth">
    <artical>
      <form>
        <h1>Sign in to Chitter</h1>
        <input type="text" name="handle" id="handle">
        <input type="password" name="password" id="password">
        <a href="/" class="peep-button">Sign in</a>
      </form>
      <div>
        <p>New to Chitter? <a href="#">Sign up here >></a></p>
      </div>
    </artical>
  </section>

  <main>
    <samp><%= @id %></samp>
    <section class="peep-profile"></section>
    <section class="peep"></section>
    <section class="peep-aside">
      <artical>
        <p>Replys in here</p>
        <hr>
        <div><p>Join the conversation and poop a peep. Our peeps are 144 charactures. Better than Twitter.</p></div>
      </artical>
    </section>
  </main>







  <template class="peeps">
      <artical>
        <blockquote>{{peep}}</blockquote>
        <aside>{{user.name}} | {{created_at}}</aside>
        <hr />
      </artical>
  </template>

  <template class="profile">
    <artical>
      <span></span>
      <h1>{{name}}</h1>
      <ul>
        <li>
          <ul>
            <li>HANDLE</li>
            <li>@{{handle}}</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>PEEPS</li>
            <li>{{totalPeeps}}</li>
          </ul>
        </li>
      </ul>
      <hr>
      <form>
        <textarea rows="1" name="peep" placeholder="compose a new peep" id="profile-peep"></textarea><div></div>
        <a href="#" class="peep-button">Peep</a>
      </form>
    </artical>
  </template>

  <div id="peep-dialog" title="compose a new peep">
    <textarea rows="5"></textarea>
    <footer><a href="#" class="peep-button">Peep</a></footer>
  </div>

  <script src="../js/09_Frontman.js"></script>

</body>
</html>
