<!DOCTYPE html>
<html>
<head>
  <title>Chitter</title>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='/stylesheets/09_Frontman.css' rel='stylesheet' type='text/css'>
  <script src="/js/jquery-2.1.1.min.js"></script> 
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><i class="fa fa-home fa-3x"></i></li>
        <li><img src="/images/DINO.svg"></li>
        <li><a href="#">Peep</a></li>
      </ul>
    </nav>
  </header>
  <main>

    <section class="peep-profile"> 
      <artical>
        <span></span>
        <p>Profile in here</p>
        <hr>
        <form>
          <input type="text" name="peep" placeholder="compose a new peep">
        </form>
      </artical>
    </section>

    <section class="peep">
      <artical>
        <blockquote>"some amazing peep in 144 charactures. come check out the bliss
        </blockquote>
        <aside>tweeted by user | 13 March 2014 13:23pm</aside>
        <hr />
      </artical>
    </section>

    <section class="peep-aside">
      <artical>
        <p>Replys in here</p>
        <hr>
        <div><p>Join the conversation and poop a peep. Our peeps are 144 charactures. Better than Twitter.</p></div>
      </artical>
    </section>

  </main>
</body>
</html>
